.out
{
    border: 1px solid black;
}
.admin
{
    position: absolute;
    right: 20px;
}
.logo
{
    position:absolute;
    top:10px;
    
}

.headerBox
{
    position:relative;
    
}
.header
{
    position:absolute;
    left:50px;
    
}
.login
{
    position:absolute;
    top:150px;
    
}